[[repos]]
repo = "https://github.com/pre-commit/pre-commit-hooks"
rev = "v6.0.0"
hooks = [
  { id = "check-ast" },
  { id = "check-yaml" },
  { id = "check-toml" },
]

[[repos]]
repo = "local"

[[repos.hooks]]
id = "ruff-check"
name = "ruff check"
language = "system"
entry = "uv run ruff check"
pass_filenames = false
always_run = true

[[repos.hooks]]
id = "ruff-format"
name = "ruff format"
language = "system"
entry = "uv run ruff format --check"
pass_filenames = false
always_run = true

[[repos.hooks]]
id = "ty-check"
name = "ty check"
language = "system"
entry = "uv run ty check"
pass_filenames = false
always_run = true
