name: Copier Template Update

on:
  schedule:
    - cron: "0 0 */20 * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-template:
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ext/copier/update@main
        with:
          token: {% raw %}${{ secrets.WORKFLOW_TOKEN }}{% endraw %}
